/*Background*/
body {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

/*Text styles*/
h1 { /*Big blue header*/
  font-family: sans-serif;
  font-weight: 800; /*Bold*/
  font-size: 40pt;
  color: #0018A4;
}

h2 { /*Filter names*/
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: 800; /*Bold*/
  margin-top: 12px;
  margin-bottom: 12px;
}


/*Filters*/
.filters {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.filter-diet {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.filter-diet label {
  height: auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CCFFE2;
  border-radius: 50px;
  font-family: sans-serif;
  font-size: 10pt;
  color: #0018A4;
}

.filter-diet input:checked + .diet-label{
  background: #0018A4;
  color: white;
}

.filter-diet input {
  display: none;
}

.sort-time {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sort-time label {
  height: auto;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFECEA;
  border-radius: 50px;
  font-family: sans-serif;
  font-size: 10pt;
  color: #0018A4;
}

.sort-time input:checked + .time-label{
  background: #FF6589;
  color: white;
}

.sort-time input {
  display: none;
}